.tile-video {
  position: relative;
  width: 100%;
  height: 165px;
  max-width: 200px;
  
}



.pinned {
  max-width: none;
  width: 100%;
  height: 100%;
}

.self-view {
  position: relative;
}


.icon {
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  max-width: 70px;
  z-index: 1000;
  top: 0;
  right: 0;
}


.icon img {
  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background-image: url("https://cdn.pixabay.com/photo/2015/06/24/02/12/the-blurred-819388_1280.jpg");
  backdrop-filter: blur(75px);

  display: flex;
  align-items: center;
  justify-content: center;

}



.self-view video {
  transform: rotate3d(0, 1, 0, 180deg);
  position: relative;
}


.user-info-container {
  /* background-color: var(--dark-blue); */
  z-index: 1000;
  position: absolute;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  left: 0;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  /* gap: 1rem; */
}


.user-info-container>* {
  border-radius: 4px;
  /* background-color: var(--dark-blue); */
  color: var(--grey);
  font-size: 14px;
  padding: 0.25rem 0.5rem;
}

.pin-button {
  background: transparent;
  cursor: pointer;
}


.subscribe-button {
  cursor: pointer;
}





.indicator-button{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  animation: zoomShrink 2s linear  infinite ;
  background-color: red;
  padding: 0.5rem;
}

@keyframes zoomShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
} 