/*
  CSS grid is great for making video layouts.
  For the purposes of this demo, we're keeping things relatively simple.
  If you're interested in dynamic video grids, make sure to check out this blog post:
   https://www.daily.co/blog/add-pagination-to-a-custom-daily-video-chat-app-to-support-larger-meetings/
 */
.call {
  /* display: grid; */

  display: flex;
  flex-wrap: nowrap;
  padding: 3rem;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* outline: 2px solid red; */
  position: relative;
}



.pinned-user {
  height: 100%;
  width: 400px;
  flex-grow: 1;
  flex-shrink: 1.5;
  height: 70%;


}

.aside {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
  /* padding-top: 0; */
  display: grid;
  gap: 1rem;
  align-content: start;

  overflow-y: auto;

  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

  /* outline: 2px solid red; */
}

.aside {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.aside::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

@media only screen and (max-width: 600px) {
  .call {
    padding: 0;
  }
}


/*
  When someone is sharing their screen, we want to resize the participants' videos,
  so the biggest screen in our grid is the screen share.
 */

.info-box {
  background: var(--dark-blue-border);
  color: var(--white);
  flex-shrink: 1;
  height: 270px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1;
  box-sizing: border-box;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .info-box {
    width: 240px;
    height: auto;
    padding: 2rem 1rem;
  }
}


.room-url-box{
  align-self: center;
  position: relative;
  padding: 0.5rem 2rem;

  border-radius: 1rem;
  font-weight: bold;
  background-color: var(--turquoise);



}



.room-url-box:hover{
  cursor: pointer;
  background-color : #7af7da;
}

.room-url {
  padding: 0 1rem;
  word-break: break-word;
  font-weight: normal;
  font-size: 12px;
}